@charset "utf-8";
html {
	background: #ededed;
}

body {
	width: 1280px;
	margin: 0 auto;
	background: #fff;
}


header,
footer,
.conArea {
	width: 1152px;
	margin: 0 auto;
}

footer {
	margin-top: 40px;
}

select::-ms-expand {
	display: none
}
.myon_use {
	background-image: url(../img/myonheadrebg.svg);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 1152px 170px;
	background-color: #eee;
}

.myon_header {
	height: 170px;
	overflow: hidden;
}
.myheader_inner {
	display: block;
	display: table;
	width: 1152px;
	margin: 35px auto 0 auto;
	height: 120px;
	color: #000;
	overflow: hidden;
	position: relative;
}
.myheader_inner h2 {
	position: absolute;
	left: 320px;
	color: #000;
	font-size: 17px;
	font-size: 1.0625rem;
	font-weight: normal;
}
.myheader_inner .subtext {
	position: absolute;
	color: #000 !important;
	left: 320px;
	top: 40px;
	font-size: 13px;
	font-size: .8125rem;
	font-weight: 200;
	letter-spacing: 0;
	line-height: 1.5;
}

.myonsearch_wrap {
	height: 70px;
	margin: 10px 0 0 0;
	position: relative;
	border-bottom: 1px solid #ccc;
}

.myonsearch_wrap h4 {
	display: inline-block;
	color: #000;
	font-size: 20px;
	padding: 14px 0 14px 0;
	position: absolute;
	left: 249px;
	top: 1px;
	font-weight: normal;
}

.myonsearch_inner {
	width: 440px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 10px;
	margin-left: -220px;
	overflow: hidden;
}
.myonsearch_inner input[type=text] {
	width: 100%;
	height: 40px;
	line-height: 36px;
	display: block;
	border-radius: 20px;
	border: 2px solid #003879;
	background-color: transparent;
	padding: 0 54px 0 14px !important;
	font-size: 14px;
}

.myonsearch_inner button[type=submit] {
	background: url(../img/search30.svg) no-repeat 4px top;
	background-color: #003879;
	background-size: 40px 40px;
	width: 50px !important;
	height: 40px !important;
	border: 0 !important;
	padding: 0 !important;
	position: absolute;
	right: 0;
	top: 0;
	display: inline-block;
	margin: 0 !important;
	border-radius: 0 20px 20px 0;
	font-size: .875rem;
	transition: background-color 0.3s;
}
.myonsearch_inner button[type=submit]:hover {
	background-color: #000;
}

.myon_btn {
	border-radius: 20px;
	padding: 13px 16px 0 16px;
	background-color: #0085d8;
	color: #fff;
	font-size: .875rem;
	overflow: hidden;
	height: 40px;
	display: block;
	position: absolute;
	right: 0;
	top: 10px;
	line-height: 1;
}
.screenout {
	position: fixed;
	font-size: 0 !important;
	height: 0 !important;
	width: 0 !important;
	left: 0;
	top: 0;
	overflow: hidden;
	z-index: -1;
}
.makemyon {
	position: absolute;
	right: 0;
	top: 5px;
	border: 0;
	padding: 8px 16px;
	color: #fff;
	background-color: #017ccb;
	height: 40px;
	border-radius: 20px;
	margin: 0;
	font-size: 14px;
	font-weight: normal;
}

.makemyon:hover {
	background-color: #0ea0fd;
	border-color: #ffffff;
}

.myon_results {
	position: relative;
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 16px;
	font-size: 14px;
	color: #00478B;
	margin-top: 17px;
}
select.year {
	width: 90px;
	height: 40px;
	padding: 10px;
	font-size: 13px;
	font-size: .8125rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-position: right center;
	border: 1px solid #d7d7d7;
	border-radius: 0 !important;
}
.myon_select1 {
	position: absolute;
	right: 100px;
	top: -10px;
}
.myon_select2 {
	position: absolute;
	right: 5px;
	top: -10px;
}

.myoncard_wrap {
	width: 1152px;
	margin: 0 auto;
	height: auto;
	overflow: hidden;
}
.card_wrap {
	overflow: hidden;
	height: auto;
	width: 63%;
	display: inline-block;
	margin-bottom: 30px;
}

.card_wrap h2 {
	font-size: 0;
	height: 0;
	color: #000;
	margin-top: 5px;
	margin-bottom: 5px;
}
.new_myoncard_wrap {
	overflow: hidden;
	height: auto;
}

.new_myoncard {
	border: 1px solid #e2e2e2;
	overflow: hidden;
	min-height: 200px;
	border-radius: 5px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-bottom: 11px;
}
.myoncard_wrap.main .new_myoncard {
	float: left;
	width: 49.5%;
}
.myoncard_wrap.main .new_myoncard:nth-child(odd) {
	margin-right: 11px;
}
.new_myoncard_inner {
	position: relative;
	width: 100%;
	height: 150px;
	overflow: hidden;
}

.card_header {
	background-color: #f2f2f2;
	position: relative;
	padding-top: 16px;
}

.onlyowner {
	background: url(../img/icon_user.svg) no-repeat center top;
	background-size: 26px 24px;
	width: 60px;
	height: 44px;
	position: absolute;
	top: 16px;
	left: 10px;
	text-align: center;
}

.groupmyon {
	background: url(../img/users.svg) no-repeat center top;
	background-size: 43px 23px;
	width: 60px;
	height: 44px;
	position: absolute;
	top: 16px;
	left: 10px;
	text-align: center;

}

.groupmyon span,
.onlyowner span {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 12px;
	height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

}

.card_header h3 {
	font-size: 17px;
	padding-left: 72px;
	overflow: hidden;
	height: 23px;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-right: 80px;
	font-weight: normal;
}


.card_header p {
	color: #555;
	font-size: 13px;
	margin: 0 10px 0 0;
	padding: 4px 15px 12px 72px;
}

.card_dir {
	padding: 0 0 14px 20px;
	width: 240px;
	height: 190px;
	float: left;

}

.card_dir .filemore {
	font-size: 12px;
}

.dirmore {
	float: right;
	margin: 16px 24px 0 0;
	font-size: .8125rem;
}

.card_dir dt {
	color: #000;
	font-size: 16px;
	font-weight: 500;
	height: 36px;
	line-height: 36px;
	margin-top: 10px;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.card_dir dd {
	color: #000;
	font-size: 13px;
	font-weight: 200;
	padding-left: 18px;
	position: relative;
	height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	line-height: 24px;
}

.card_dir dd::before {
	content: '';
	display: inline-block;
	width: 2px;
	height: 2px;
	background-color: #000;
	position: absolute;
	left: 5px;
	top: 50%;
	margin-top: -1px;
}
.myondate {
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-size: .75rem;
	color: #000;
	font-weight: 200;
}

.pagination {
	display: block;
	overflow: hidden;
	text-align: center;
}
.pagination span {
	color: #000;
	float: left;
	padding: 8px 11px;
	height: 32px;
	text-decoration: none;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
	border: 1px solid #d7d7d7;
	font-size: 14px !important;
	font-size: .875rem !important;
	line-height: 1 !important;
	margin-right: -1px;
	cursor: pointer;
}
.pagination span:hover:not(.active) {
	background-color: #d7d7d7;
}

.pagination span.active {
	background-color: #0067b8;
	color: white;
	font-weight: 700;
	border: 1px solid #0067b8;
}
.pagination>div,
.more_pagination>div {
	display: inline-block;
	width: auto;
	margin: 0 auto;
}
.w100p {
	width: 100% !important;
}
.mt10 {
	margin-top: 10px !important;
}

.myon_title_area{
	margin-top: 35px;
}
.myon_title_area .title {
	margin-bottom: 5px;
}
.myon_title_area .title::after{
	content: "";
	display: block;
	clear: both;
}
.myon_title_area h3{
	float: left;
	font-weight: 500;
	font-size: 24px;
	color: #004ca0;
	width: auto;

}
.seminar_btn_wrap{
	padding-top: 50px;
	padding-bottom: 30px;
	border-bottom: 2px solid #c9caca;
	margin-bottom: 20px;
}
a.open_seminar{
	display: block;
	font-size: 16px;
	border: 1px solid #1b7edb;
	width: 240px;
	height: 34px;
	border-radius: 10px;
	line-height: 31px;
	font-weight: normal;
	color: #1b7edb;
	transition: background-color 0.3s;
	webkit-transition: background-color 0.3s;
	background: #fff url("../img/make_icon.png") no-repeat 0px center;
	padding-left: 20px;
	background-position-x: calc(100% - 20px);
	margin: 0 auto; 
}
a.open_seminar:hover {
	background: #1b7edb url("../img/make_icon_on.png") no-repeat 114px center;
	color: #fff;
	background-position-x: calc(100% - 20px);
}
a.make_seminar {
	float: right;
	display: block;
	font-size: 16px;
	border: 1px solid #1b7edb;
	width: 150px;
	height: 34px;
	border-radius: 10px;
	line-height: 31px;
	font-weight: normal;
	color: #1b7edb;
	transition: background-color 0.3s;
	webkit-transition: background-color 0.3s;
	background: #fff url("../img/make_icon.png") no-repeat 114px center;
	padding-left: 16px;
}

a.make_seminar:hover {
	background: #1b7edb url("../img/make_icon_on.png") no-repeat 114px center;
	color: #fff;
}
.caption{
	width: 100%;
	padding-left: 15px;
}
.myon_make_page .caption{
	margin-bottom: 24px;
}
.caption p{
	position: relative;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 6px;

}
.caption p::before{
	content: "※";
	display: block;
	font-size: 14px;
	font-weight: normal;
	color: #000;
	position: absolute;
	top:0px;
	left:-15px;

}
.caption span{
	color: #dc000c;
	font-size: 14px;
	font-weight: 200;
}

.seminar_list{
	margin-top: 12px;
	margin-bottom: 35px;
	border-top: 2px solid #c9caca;
	border-bottom: 2px solid #c9caca;
}
.seminar_list tr{
	border-bottom: 1px solid #dcdddd;
}
.seminar_list tr:last-child{
	border-bottom: 0px;
}
.seminar_list tr th{
	background: #efefef;
	font-size: 14px;
	color: #5b5b5b;
	padding-top: 13px;
	padding-bottom: 13px;
	text-align: center;
	font-weight: normal;
}
.seminar_list tr td{
	font-size: 16px;
	color: #5b5b5b;
	background: #fff;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
}

.seminar_list tr td a.join_btn{
	display: inline-block;
	width: 92px;
	height: 27px;
	color: #fff;
	font-size: 12px;
	line-height: 25px;
	font-weight: 200;
	border-radius: 9px;
	background: #0c4fad;
	transition: background-color 0.3s;
	webkit-transition: background-color 0.3s;
}
.seminar_list tr td a.join_btn:hover{
	background: #017ccb;
}


.form_area{
	border-top: 2px solid #c9caca;
	border-bottom: 2px solid #c9caca;
	margin-bottom: 34px;
}
.form_header{
	margin-bottom: 10px;
	padding: 10px 0;
	padding-top: 25px;
	padding-bottom: 0px;
}
.form_header p{
	font-size: 18px;
	font-weight: 400;
	color: #04780f;
}

.form_header p:first-child{
	margin-bottom: 10px;
}
.form_header p .make_seminar{
	display: inline-block;
	float: none;
	width: 234px;
	margin-left: 20px;
	background: #fff url("../img/make_icon.png") no-repeat 196px center;
}
.form_header p .make_seminar:hover{
	background: #1b7edb url("../img/make_icon_on.png") no-repeat 196px center;
	color: #fff;
}
.form_header p em{
	font-weight: normal;
	background: none;
}
.form{
	padding: 0px 68px 0px 60px;
}
.form ul{
	
	padding-bottom: 25px;
}
.form .top_ul {
	border-bottom: 1px solid #0c4fad;
}
.form ul li{
	margin-bottom:17px;
	height: 35px;
}
.form ul li::after{
	display: block;
	content: "";
	clear: both;
}
.form ul li .input_title{
	float: left;
	width: 120px;
	color: #5b5b5b;
	font-size: 16px;
	font-weight: normal;
	line-height: 35px;

}
.form ul li .input_area{
	float: left;
	width: calc(100% - 120px);
	height: 35px;
}
.form ul li .input_area.radio{
	padding-top: 4px;
}
.form ul li .input_area input[type="text"] {
	padding-left: 15px;
	height: 35px;
	width: 100%;
	border: 1px solid #c9caca;
}

.form ul li .input_area label{
	display: inline-block;
	font-size: 16px;
	color: #000;
	margin-right:60px ;
}


.input_area {
	position: relative;
	overflow: hidden;
}

.input_area input[type="radio"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.input_area input[type="radio"]+label {
	display: inline-block;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.input_area input[type="radio"]+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 6px;
	width: 15px;
	height: 15px;
	text-align: center;
	background: #fafafa;
	border: 1px solid #cacece;
	border-radius: 100%;
}

.input_area input[type="radio"]:checked+label:before {
	background: #E9ECEE;
	border-color: #adb8c0;
}

.input_area input[type="radio"]:checked+label:after {
	content: '';
	position: absolute;
	top: 9px;
	left: 3px;
	width: 11px;
	height: 11px;
	background: #3197ee;
	border-radius: 100%;
}

.input_area .ch_btn{
	width: 91px;
	height: 35px;
	line-height: 33px;
	color: #fff;
	font-size: 16px;
	border-radius: 0px;
	background: #1b7edb;
	border: 1px solid #1b7edb;
	padding: 0px;
	margin: 0;
	margin-right: 15px;
}
.input_area .ch_btn:hover{
	background: #0c4fad;
	border: 1px solid #0c4fad;
}
.form ul li .input_area input[type="text"].s_input {
	width: calc(100% - 106px );
	vertical-align: top;
}
.form_btn_area{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 25px;
}
.form_btn_area a{
	display: inline-block;
	width: 136px;
	height: 40px;
	border-radius: 12px;
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 38px;
	font-weight: normal;
	transition: background-color 0.3s;
	webkit-transition: background-color 0.3s;
	margin: 0 15px;
}

.form_btn_area a.signup_btn{
	background: #0c4fad;
}
.form_btn_area a.signup_btn:hover{
background: #1b7edb;

}
.form_btn_area a.reset_btn {
	background: #a2a2a2;
}
.form_btn_area a.reset_btn:hover {
	background: #747373;
}



button,
a.button,
input[type=submit],
input[type=reset],
input[type=button],
.btns,
.vr_btn {
	font-size: 14px;
	font-size: .875rem;
	border: 1px solid #e2e2e2;
	background-color: transparent;
	line-height: 1;
	padding: 12px 26px;
	text-align: center;

	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin: 2px 0 2px 2px;
	display: inline-block;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

select {
	min-width: 70px;
	padding: 8px 10px;
	height: 40px;
	font-size: 13px;
	vertical-align: middle;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff url(../img/triangle.svg) no-repeat right center;
	background-size: 24px 16px;
	border: 1px solid #d7d7d7;
	border-radius: 0 !important;
}

.seminar_tab {
	height: 100px;
	background: #efefef url(../img/step1.png) 0 0 no-repeat;
}

.seminar_tab.on {
	background: #efefef url(../img/step2.png) 0 0 no-repeat;
}

.seminar_tab::after {
	content: "";
	display: block;
	clear: both;
}

.seminar_tab a {
	display: block;
	float: left;
	padding: 20px 25px;
	height: 100px;
	width: 50%;
}


.seminar_tab a>p {
	font-weight: 300;
	font-size: 24px;
	color: #595757;
	margin: 0;

}

.seminar_tab a>span {
	font-size: 18px;
	color: #595757;
	font-weight: 400;

}

.seminar_tab.on a.step1>p {
	font-weight: 300;
	font-size: 24px;
	color: #595757;
	margin: 0;

}

.seminar_tab.on a.step1>span {
	font-size: 18px;
	color: #595757;
	font-weight: 400;

}



.seminar_tab a.step1>p {
	color: #fff100;
	font-weight: 500;
	font-size: 24px;
	margin: 0;
}

.seminar_tab a.step1>span {
	font-size: 18px;
	color: #fff;
	font-weight: 400;

}

.seminar_tab.on a.step2>p {
	color: #fff100;
	font-weight: 500;
	font-size: 24px;
	margin: 0;
}

.seminar_tab.on a.step2>span {
	font-size: 18px;
	color: #fff;
	font-weight: 400;

}
.step_title{
	padding:25px;
}
.step_title h4{
	font-weight: 500;
	font-size: 24px;
	color: #0c4fad;
}
.step_title p{
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: #000;
	font-weight: 500;
	margin-bottom: 5px;
}
.seminar_con>li{
	display: none;
}
.seminar_con>li.on{
	display: block;
}
.Pstyle {
	width: 1152px;
	padding: 0;
	background-color: #fff;
	border: 0px;
}

.p_title_main {
	height: 69px;
	background: #035c8a;
	color: #fff;
	font-weight: 500;
	font-size: 24px;
	padding: 0 35px;
	line-height: 69px;
	margin: 0;
}

.p_con {
	padding: 25px 35px;
}

.p_tab {
	background: #2881a2;
	height: 53px;
	margin-bottom: 10px;
}

.p_tab a {
	display: inline-block;
	width: 140px;
	height: 52px;
	color: #fff;
	line-height: 52px;
	text-align: center;
}

.p_tab a.on {
	font-weight: 300;
	border-bottom: 4px solid #fff;
}

.p_title {
	font-size: 18px;
	font-weight: 500;
	padding: 10px 0;
	margin-bottom: 0;
}

#subjectList {
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 20px;
}

.p_btn_wrap {
	width: 100%;
	text-align: center;
}

.p_btn_wrap button {
	height: 41px;
	border-radius: 10px;
	color: #fff;
	font-size: 16px;
	background: #a6a3a3;
	border: 0px;
	padding: 0 25px;
	margin: 0 10px;
}

.p_btn_wrap button:hover {
	background: #0c4fad;
}

.sch_form {
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 30px;
	text-align: center;
	overflow: hidden;
	width: 670px;

}

.sch_form label {
	float: left;
	width: 120px;
	height: 45px;
	display: inline-block;
	background: #efefef;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	margin: 0;
	line-height: 45px;
}

.sch_form input {
	display: block;
	float: left;
	width: 450px;
	height: 45px;
	margin: 0;
}

.sch_form button {
	display: block;
	float: left;
	height: 45px;
	margin: 0;
	margin-left: 10px;
	background: #0c4fad;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	border-radius: 0px;
}

.sch_form button:hover {
	background: #035c8a;

}
#totalCnt {
	color: #0c4fad;
}
.cout_box {
	height: 40px;
	overflow: hidden;
	margin-bottom: 10px;
}
.cout_box>span{
	display: inline-block;
	margin-top: 20px;
}
.cout_box select {
	float: right;
}

.pagination {
	padding: 10px;
	text-align: center;
	margin: 0 auto;
}

.pagination span {
	display: inline-block;
	margin: 0px;
	margin-right: -4px;
	float: none;
}

.btn_area {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.btn_area button {
	display: inline-block;
	height: 45px;
	margin: 0;
	margin-left: 10px;
	background: #a6a3a3;
	border-radius: 10px;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	border: 0px;
}

.btn_area button:hover {
	background: #0c4fad;

}

.p_con table th,
.p_con table td {
	border-right: 0px;
	border-left: 0px;
}
.p_con>span {
	margin-top: -12px;
	font-size: 14px;
	display: block;
	;
	margin-bottom: 10px;
}

.p_con table td {
	border-right: 0px;
	border-left: 0px;
	text-align: center;
	color: #5b5b5b;
	width: 100%;
}

.p_con table th {
	border-right: 0px;
	border-left: 0px;
}

.p_con table td span {
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: calc(100% - 10px);
}

.sel_btn{
	font-size: 16px;
	width: 60px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #fff;
	border: 1px solid #1b7edb;
	background: #1b7edb;
	padding: 0;
	margin: 0;
	border-radius: 8px;
}
.sel_btn:hover{
	color: #1b7edb;
	border: 1px solid #1b7edb;
	background: #fff;
}