@charset "utf-8";

html {
  background: #ededed;
}

body {
  width: 1280px;
  margin: 0 auto;
  background: #fff;
}


.schTab {
  width: 100%;
  background: #0c94ad;
}

.schTab::after {
  content: "";
  display: block;
  clear: both;
}

.schTab li {
  float: left;
  width: 192px;
  height: 52px;
  border-top: 1px solid #0c94ad;
  border-bottom: 2px solid #0c94ad;
}

.schTab li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 50px;

  background: #0c94ad;
  color: #fff;
}

.schTab li a:hover {
  border-bottom: 4px solid #fff;
}



.schTab li.active a {
  border-bottom: 4px solid #fff;
  background: #0c94ad;
  color: #fff;
  font-weight: 500;

}

.schTab li.active a::after {
  border: 0px;
}

.schTab li.pr a::after {
  border: 0px;
}

.txt_blue {
  color: #007aff;
}






.paper_content {
  position: relative;
  height: auto;
  overflow: hidden;
  padding: 0;
  width: 100%;
  display: table;
  table-layout: fixed;
  margin-top: 22px;
  overflow: visible;
}

.paper_btns {
  padding: 8px;
  font-size: 13px;
  font-weight: 400;
  background-color: #fff;

}


/* section start */
.paper_content .section_left {
  display: table-cell;
  vertical-align: top;
  width: 745px;
}

.paper_content .section_left .result_item {
  padding: 15px 15px 15px 30px;
  height: auto;
  overflow: hidden;
  margin: 0;
  border-bottom: 1px solid #e2e2e2;
  position: relative;
  width: 842px;
}




.section_right {
  padding-left: 20px;
  display: table-cell;
  vertical-align: top;
  width: 330px;
}


.sch_rightwrap {
  height: auto;
  overflow: hidden;
}

.schlist_wrap {
  position: relative;
  margin-top: 8px;
  margin-bottom: 25px;
}

.schlist_wrap h3 {
  font-size: 18px;
  padding: 12px;
  color: #5b5b5b;
  border: none;
  font-weight: 500;
  margin-left: 2px;
  background-color: #efefef;
  border-top: 2px solid #c9caca;
  border-bottom: 1px solid #e2e2e2;
}

.schlist_wrap h3>a {
  display: block;
  float: right;
  font-size: 40px;
  width: 12px;
  height: 12px;
  margin-top: 4px;
}

.schlist_wrap h3>a>img {}

.accordion .sch_dotlist {
  width: 100%;
}

.sch_dotlist {
  font-size: 13px;
  font-size: .8125rem;
  overflow: hidden;
  height: auto;
}

.sch_dotlist ul li {
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: inherit;
  padding: 12px 15px 12px 44px;
  line-height: 1;
  position: relative;
  border-bottom: 1px solid #e2e2e2;
  background: url(../images/myon/folder.png) 12px center no-repeat;
}

.accordion .sch_dotlist ul li::before {
  display: none;
}

.sch_dotlist ul li:hover {
  background-color: #f9f9f9;
}

.sch_dotlist ul li:nth-last-child(1) {
  border-bottom: 0;
}

/* 
.sch_dotlist ul li::before {
  content: '';
  display: inline-block;
  width: 2px;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 8px;
  top: 50%;
  margin-top: -1px;
} */

.sch_radiobox {

  height: auto;
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 30px;
}

.sch_radiobox input[type=radio] {
  width: 13px;
  height: 13px;
}

.keywrord_img {
  width: 263px;
  background: url(../images/myon/keyword_img.svg) no-repeat center;
  background-size: 263px 202px;
  width: 270px;
  height: 216px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.btn_less,
.btn_more {
  background-size: 18px 18px;
  width: 18px;
  height: 18px;
  border-radius: 0;
  font-size: 0;
  overflow: hidden;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 13px;
  right: 7px;
}

.btn_less {
  background: url(../images/myon/paper_minus.svg) no-repeat center;

}

.btn_more {
  background: url(../images/myon/paper_more.svg) no-repeat center;


}

.keyword_wrap {
  height: auto;
  overflow: hidden;
  padding: 0 30px;
}

.keyword_wrap p {
  font-size: 12px;
  margin-top: 8px;
}

.txt_blue {
  color: #007aff;
}

select {
  min-width: 70px;
  padding: 8px 10px;
  height: 40px;
  font-size: 13px;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url(../images/myon/triangle.svg) no-repeat right center;
  background-size: 24px 16px;
  border: 1px solid #d7d7d7;
  border-radius: 0 !important;
}

.schfilter_icon {
  background: url(../images/myon/schfilter_icon.svg), url(../images/myon/sch_downarrow.svg);
  background-repeat: no-repeat;
  background-position: 10px center, 64px center;
  background-size: 16px 19px, 10px 9px;
}

.sch_dotlist button.del {
  background: url(../images/myon/del.svg) no-repeat left top;
  background-size: 13px 16px;
  width: 13px !important;
  height: 16px !important;
  border: 0 !important;
  padding: 0 !important;
  position: absolute;
  right: 5px;
  top: 50%;
  font-size: 0;
  margin: -8px 0 0 0 !important;
  border-radius: 0 !important;
  z-index: 10;
}

#srchHisList li .del,
#srchViewList li .del {
  display: none;
}

#srchHisList li:hover .del,
#srchViewList li:hover .del {
  display: block;
}

.result_item .mark {
  margin-right: 10px;
  font-size: .75rem;
}

.result_item .num {
  font-size: .875rem;
  width: 45px;
  display: inline-block;
  position: absolute;
  left: 28px;
  top: 19px;
}

.section_left .result_item h3,
.section_left .result_item_info,
.section_left .flag_g,
.section_left .result_itembtn,
.section_left .item_summary,
.section_left .item_content {
  margin-left: 45px;
}

input[type=radio],
input[type=checkbox] {
  margin: 0 5px;
  vertical-align: middle;
}

h2.dpib {
  color: #004ca0;
  font-size: 24px;
  margin-top: 25px;
}

.ren_btn {
  border-bottom: 1px solid #e2e2e2;
  overflow: visible;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ren_btn button {
  border-radius: 5px 5px 0 0;
  height: 40px;
  float: left;
  margin: 0;
  margin-right: 2px;
  border-bottom: 1px solid #e2e2e2;
  background: #f2f2f2;
}

.ren_btn button.act,
.ren_btn button.act:hover {
  color: #000;
  border: 1px solid #e2e2e2;
  border-bottom: 1px solid #fff;
  background: #fff;
}

.ren_btn button.makemyon {
  border: 0;
  padding: 8px 16px;
  color: #fff;
  background-color: #017ccb;
  height: 40px;
  border-radius: 20px;
  margin: 0;

}

.myon_results {
  position: relative;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 16px;
  font-size: 14px;
  color: #00478B;
  margin-top: 27px;
}

select.year {
  width: 90px;
  height: 40px;
  padding: 10px;
  font-size: 13px;
  font-size: .8125rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position: right center;
  border: 1px solid #d7d7d7;
  border-radius: 0 !important;
}

.myon_select1 {
  position: absolute;
  right: 100px;
  top: -10px;
}

.myon_select2 {
  position: absolute;
  right: 5px;
  top: -10px;
}

.myoncard_wrap {
  width: 100%;
  margin: 0 auto;
  height: auto;
  overflow: hidden;
}

.card_wrap {
  overflow: hidden;
  height: auto;
  width: 63%;
  display: inline-block;
  margin-bottom: 30px;
}

.card_wrap h2 {
  font-size: 0;
  height: 0;
  color: #000;
  margin-top: 5px;
  margin-bottom: 5px;
}

.new_myoncard_wrap {
  overflow: hidden;
  height: auto;
}

.new_myoncard {
  border: 1px solid #e2e2e2;
  overflow: hidden;
  min-height: 200px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-bottom: 11px;
}

.new_myoncard_inner {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.card_header {
  background-color: #f2f2f2;
  position: relative;
  padding-top: 16px;
}

.onlyowner {
  background: url(../images/myon/icon_user.svg) no-repeat center top;
  background-size: 26px 24px;
  width: 60px;
  height: 44px;
  position: absolute;
  top: 16px;
  left: 10px;
  text-align: center;
}

.card_header h3 {
  font-size: 17px;
  padding-left: 72px;
  overflow: hidden;
  height: 23px;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 80px;
}

.groupmyon span,
.onlyowner span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card_header p {
  color: #555;
  font-size: 13px;
  margin: 0 10px 0 0;
  padding: 4px 15px 12px 72px;
}

.card_dir {
  padding: 0 0 14px 20px;
  width: 22%;
  height: 190px;
  float: left;
}

.card_dir dl {
  overflow: hidden;
  margin-right: 20px;
  height: auto;
}

.card_dir dt {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  height: 36px;
  line-height: 36px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.card_dir dd {
  color: #000;
  font-size: 13px;
  font-weight: 300;
  padding-left: 18px;
  position: relative;
  height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 24px;
}

.card_dir dd::before {
  content: '';
  display: inline-block;
  width: 2px;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -1px;
}

.card_dir .filemore {
  font-size: 12px;
  padding-left: 19px;
}

.dirmore {
  float: right;
  margin: 16px 24px 0 0;
  font-size: .8125rem;
}

.myondate {
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-size: .75rem;
  color: #000;
  font-weight: 500;
}

.myoncard_btnwrap {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.myoncard_btnwrap .dup {
  padding: 12px 12px 12px 32px;
  background: url(../images/myon/duplication.svg) no-repeat 8px center;
  background-size: 16px 18px;
}

.myoncard_btnwrap .del {
  padding: 12px 12px 12px 32px;
  background: url(../images/myon/del.svg) no-repeat 8px center;
  background-size: 13px 17px;
}

.mt10 {
  margin-top: 10px !important;
}

.w100p {
  width: 100% !important;
}

.accordion {
  overflow: hidden;
}

.profile {
  font-size: 18px;
  padding: 15px 12px;
  color: #5b5b5b;
  border: none;
  font-weight: 500;
  margin-left: 2px;
  background-color: #efefef;
  border-top: 2px solid #c9caca;
  border-bottom: 1px solid #e2e2e2;
}

.profile_top {
  display: flex;
  padding: 0 10px;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.profile_top>a {
  width: 104px;
  height: 104px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
}

.profile_top>a>img {
  vertical-align: top;
  margin-top: 15px;
  margin-left: 5px;
}

.profile_top>p {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  padding-left: 15px;
  line-height: 1.4;
}

.profile>p {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

.profile>p>span {
  color: #5b5b5b;
  font-weight: normal;
}

.side_tab_menu {
  width: 100%;
  margin: 7px 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.side_tab_menu a {
  margin-right: 5px;
}

.side_tab_menu a:last-child {
  margin-right: 0px;
}

.side_tab_menu a {
  display: block;
  padding: 8px;
  background: #efefef;
  border: 1px solid #efefef;
  color: #828282;
  text-align: center;
  font-size: 16px;
}

.side_tab_menu a.on {
  background: #003879;
  color: #fff;
  border: 2px solid #efefef;
}

.side_tab_title {
  width: 100%;
  position: relative;
  display: flex;
  background: #efefef;
  align-items: center;
  padding: 0 8px;
  height: 46px;
  overflow: hidden;


}

.side_tab_title a {
  padding-left: 25px;
  font-size: 14px;
  color: #5b5b5b;
}

.side_tab_title a img {
  margin-top: -2px;
  vertical-align: middle;
}

.side_tab_title select {
  width: 92px;
  height: 32px;
  display: block;
  position: absolute;
  top: 7px;
  right: 8px;
  font-size: 13px;
  color: #5b5b5b;
  padding-top: 3px;
  padding-bottom: 3px;
  background: #fff url(../images/myon/triangle.png) no-repeat 70px center;
}

.side_tab_con>ul>li {
  width: 100%;
  padding: 15px 8px;
  border-bottom: 1px solid #efefef;
  display: table;
}

.side_tab_con>ul>li .chk_box {
  display: table-cell;
  width: 27px;
}

.side_tab_con>ul>li .side_tab_info {
  display: table-cell;
  width: calc(100% -27px);
}

.btn_wrap {
  display: table-cell;
  width: 100%;
}

.side_tab_info p {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  letter-spacing: -1px;
  margin-bottom: 6px;
}

.side_tab_info p>span {
  color: #5b5b5b;
  font-weight: normal;
  margin-right: 4px;
}

.side_tab_info>a>span {
  display: block;
  font-size: 14px;
  color: #5b5b5b;
  margin-top: 3px;
}

.btn_wrap {
  display: block;
  width: 100%;
  margin-top: 15px;
  text-align: center;
}

.btn_wrap>a {
  display: inline-block;
  margin: 0 15px;
}


.conArea .bookmark {
  margin-top: 5px;
  justify-content: flex-start;
  background: none;
  background-size: 14px 14px;
  margin-left: 0;
  padding-left: 0;
  font-size: 13px;
  display: flex;
}

.my_bookmark {
  width: 192px;
  margin-right: 20px;
}

.my_bookmark_title {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-right: 9px;
  font-size: 18px;
  height: 54px;
}

.my_bookmark_title h3 {
  font-size: 18px;
  color: #000;
}

.my_bookmark_title a img {
  vertical-align: middle;
}

.my_bookmark_con {
  position: relative;
}

.my_bookmark_top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 49px;
  background: #efefef;
  border-top: 2px solid #c9caca;
  border-bottom: 1px solid #c9caca;
}

.my_bookmark_top p {
  font-size: 16px;
  font-weight: 500;
  color: #5b5b5b;
}

.my_bookmark_con ul {
  border-bottom: 1px solid #c9caca;
}

.my_bookmark_con ul li {
  border-bottom: 1px solid #c9caca;
  padding: 14px 9px 14px 30px;
  background: url(../images/myon/folder_off.png) 10px center no-repeat;
  cursor: pointer;
}

.my_bookmark_con ul li.active {
  background: url(../images/myon/folder_on.png) 10px center no-repeat;
}

.my_bookmark_con ul li.active>p {
  color: #003879;
}

.my_bookmark_con ul li::after {
  content: "";
  display: block;
  clear: both;
}

.my_bookmark_con ul li>p {
  float: left;
  width: 100px;
  font-size: 14px;
  font-weight: normal;
  color: #5b5b5b;
  padding-left: 5px;
}

.my_bookmark_con ul li>button {
  display: block;
  float: right;
  width: 19px;
  height: 19px;
  border: 0px;
  background: url(../images/myon/f_write.png) 0 0 no-repeat;
  padding: 0;
  margin: 0;
  margin-left: 6px;
  margin-top: 1px;
}

.my_bookmark_con ul li>button.f_delete {
  display: block;
  float: right;
  width: 19px;
  height: 19px;
  border: 0px;
  background: url(../images/myon/f_delete.png) 0 0 no-repeat;

}

.folder_explain {
  position: absolute;
  bottom: -26px;
  left: 52px;
  background: #fff;
  border: 1px solid #0c4fad;
  padding: 7px 18px;
  font-size: 14px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.folder {
  width: 940px;
}

.folder_title {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding-right: 9px;
  font-size: 18px;
  height: 54px;
}

.folder_title h3 {
  font-size: 18px;
  color: #003879;
  font-weight: 500;
}

.folder_title p {
  font-size: 14px;
  font-weight: 300;
  border: 1px solid #cccccc;
  padding: 0px 13px;
  border-radius: 13px;
  margin-left: 12px;
}

.folder_tab {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 49px;
  margin-bottom: 10px;
}

.folder_tab a {
  width: 100%;
  display: flex;
  padding: 0 53px 0 54px;
  color: #5b5b5b;
  background: #f9f9f9;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  height: 49px;
  align-items: center;
  justify-content: center;
  font-weight: 300;
}

.folder_tab a.on {
  background: #003879;
  border-top: 1px solid #003879;
  border-bottom: 1px solid #003879;
  color: #fff;
  font-weight: 500;
}

.folder_tab a:hover {
  border-bottom: 1px solid #003879;
}

.folder_input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 15px;
  position: relative;
}

.folder_input::after {
  display: block;
  content: "";
  clear: both;
}

.folder_input>p {
  font-size: 14px;
  color: #5b5b5b;
  margin-right: 20px;

}

.folder_input>p em {
  color: #003879;
  background: none;
}

.folder_input select {
  width: 94px;
  height: 32px;
  padding: 5px 10px;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position: right center;
  border: 1px solid #d7d7d7;
  border-radius: 0 !important;
  color: #5b5b5b;
  background: #fff url(../images/myon/triangle.png) no-repeat 70px center;
  margin-right: 5px;
}

.folder_input button {
  font-size: 14px;
  background: #919191;
  color: #fff;
  line-height: 1;
  padding: 8px 14px;
  text-align: center;
  font-weight: normal;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  margin: 0;
  display: inline-block;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  height: 32px;
}

.search_wrap {
  position: absolute;
  right: 0px;
  top: 5px;
  display: flex;
  align-items: center;
}

.search_wrap::after {
  content: "";
  display: block;
  clear: both;
}

.search_wrap input {
  float: left;
  display: block;
  width: 237px;
  height: 32px;
  border: 1px solid #000;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
}

.search_wrap .search_btn {
  height: 32px;
  float: left;
  display: block;
  color: #fff;
  background: #003879;
}

.table_top {
  position: relative;
  width: 100%;
  height: 46px;
  background: #efefef;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.table_top a {
  padding: 0 10px;
  border-right: 1px solid #c9caca;
  line-height: 15px;
  color: #5b5b5b;
  font-size: 14px;
}

.table_top>a:last-child {
  border-right: 0px;
}

.table_top a>img {
  vertical-align: middle;
}

.table_top>p {
  width: 135px;
  height: 46px;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.table_top>p>img {
  margin-top: 1px;
  margin-right: 4px;
}

.folder_table>ul {
  padding-bottom: 20px;
}

.folder_table>ul>li {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

.folder_table>ul>li .chk_box {
  padding-left: 10px;
  margin-right: 5px;
}
/* 2020-10-20 수정 start */
.folder_table>ul>li .num {
  width: 45px;
  font-size: 20px;
  color: #5b5b5b;
  vertical-align: top;
  line-height: 1.2;
  text-align: center;
}
/* 2020-10-20 수정 end */

.folder_table>ul>li .folder_in_con {
  width: 745px;
  border-right: 1px dashed #919191;
}

.folder_table>ul>li .folder_in_con>a>p {
  font-size: 15px;
  font-weight: 500;
  color: #000;
  margin-bottom: 5px;
}

.folder_table>ul>li .folder_in_con>a>p>span {
  color: #5b5b5b;
  font-weight: normal;
  margin-right: 14px;
}

.folder_table>ul>li .folder_in_con>a>span {
  display: block;
  font-size: 14px;
  color: #5b5b5b;
}

.folder_table>ul>li .folder_name {
  width: 135px;
  text-align: center;
  font-size: 16px;
  color: #003879;
}

.folder_table .pagination {
  display: block;
  overflow: hidden;
  text-align: center;
}

.folder_table .pagination>div {
  display: inline-block;
  margin: 0 auto;
}

.folder_table .pagination span {
  color: #000;
  float: left;
  padding: 8px 11px;
  height: 32px;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border: 1px solid #d7d7d7;
  font-size: 14px !important;
  font-size: .875rem !important;
  line-height: 1 !important;
  margin-right: -1px;
  cursor: pointer;
}

.folder_table .pagination span.active {
  background-color: #0067b8;
  color: white;
  font-weight: 700;
  border: 1px solid #0067b8;
}

.popup_wrap {
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  display: none;
}

.pop_bg {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  cursor: pointer;
}

.popup {
  width: 670px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  background: #fff;
  margin-top: 300px;
}

.popup_header {
  background: #035c8a;
  height: 69px;
  padding-left: 30px;
  padding-right: 25px;
}

.popup_header p {
  line-height: 69px;
  font-size: 24px;
  font-weight: 500;
  float: left;
  color: #fff;
}

.popup_header::after {
  content: "";
  display: block;
  clear: both;
}

.popup_list {
  margin: 25px;
}

.popup_list li>div {
  float: left;
}

.popup_list li::after {
  content: "";
  display: block;
  clear: both;
}

.popup_list li .title {
  font-size: 18px;
  text-align: center;
  background: #efefef;
  width: 135px;
  height: 55px;
  line-height: 55px;
  font-weight: 500;
}

.popup_list li input {
  width: calc(100% - 135px);
  padding-left: 25px;
  padding-right: 25px;
  height: 55px;
  font-size: 18px;
  border: 1px solid #c9caca;
}

.confirm_btn_wrap {
  padding: 35px 0;
  text-align: center;
}

.confirm_btn_wrap button {
  width: 85px;
  height: 41px;
  background: #7c7c7c;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  border-radius: 12px;
  padding: 0;
  line-height: 31px;
  border: 0px;
  margin-left: 15px;
}

.confirm_btn_wrap .confirm_btn {
  background: #0c4fad;

}

.confirm_btn_wrap button.confirm_btn:hover {
  background: #1b7edb;
}

.confirm_btn_wrap button:hover {
  background: #0c4fad;
}

.Pstyle3 {
  width: 1152px;
  padding: 0;
  background-color: #fff;
  border: 0px;
}

.Pstyle3 .p_title_main {
  height: 69px;
  background: #035c8a;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  padding: 0 35px;
  line-height: 69px;
  margin: 0;
}

.Pstyle3 .p_con {
  padding: 25px 35px;
}

.Pstyle3 .p_tab {
  background: #2881a2;
  height: 53px;
  margin-bottom: 10px;
}

.Pstyle3 .p_tab a {
  display: inline-block;
  width: 140px;
  height: 52px;
  color: #fff;
  line-height: 52px;
  text-align: center;
}

.Pstyle3 .p_tab a.on {
  font-weight: 300;
  border-bottom: 4px solid #fff;
}

.Pstyle3 .p_title {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 0;
  margin-bottom: 0;
}

.Pstyle3 .p_btn_wrap {
  width: 100%;
  text-align: center;
}

.Pstyle3 .p_btn_wrap button {
  height: 41px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  background: #a6a3a3;
  border: 0px;
  padding: 0 25px;
  margin: 0 10px;
}

.Pstyle3 .p_btn_wrap button:hover {
  background: #0c4fad;
}

.Pstyle3 .sch_form {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  overflow: hidden;
  width: 670px;

}

.Pstyle3 .sch_form label {
  float: left;
  width: 120px;
  height: 45px;
  display: inline-block;
  background: #efefef;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  line-height: 45px;
}

.Pstyle3 .sch_form input {
  display: block;
  float: left;
  width: 450px;
  height: 45px;
  margin: 0;
}

.Pstyle3 .sch_form button {
  display: block;
  float: left;
  height: 45px;
  margin: 0;
  margin-left: 10px;
  background: #0c4fad;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  border-radius: 0px;
}

.Pstyle3 .sch_form button:hover {
  background: #035c8a;

}

.Pstyle3.type2 {
  width: 800px;
}

.Pstyle3.type2 .radio_box label {
  margin-right: 35px;
}

.Pstyle3.type2 .p_con_box {
  margin-bottom: 30px;
}

.Pstyle3.type2 .p_con_box label {
  color: #5b5b5b;
  font-size: 14px;
  line-height: 1.4;
}

.Pstyle3.type2 .p_con_box select {
  margin-bottom: 10px;
}

.Pstyle3 th,
.Pstyle3 td {
  padding: 12px;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}

.Pstyle3 td label {
  font-weight: normal !important;
}