.drag_wrap{position:absolute;top:10px;left:45px;width:920px;height:502px;padding:40px 40px;;background:url("../../img/content/drag2/bg.png") -40px -77px no-repeat;}
.drag_items{}
.drag_items .drag_item{position:absolute;font-size:20px;line-height:25px;padding:2px 20px;height:29px;text-align:center;border:1px solid #9ACE6C;color:#498E0B;background-color:#fff;cursor:pointer;}
.drag_items .drag_item1{top:85px;left:130px;}
.drag_items .drag_item2{top:85px;left:250px;}
.drag_items .drag_item3{top:85px;left:410px;}
.drag_items .drag_item4{top:85px;left:510px;}
.drag_items .drag_item5{top:85px;left:610px;}
.drag_items .drag_item6{top:85px;left:770px;}
.drag_item1,.dragin1{}
.drag_item2,.dragin2{}
.drag_item3,.dragin3{}

.drag_con{margin-top:100px;font-size:20px;line-height:33px;}
.drag_con > ul{height:261px;padding-top:30px;margin-top:125px;margin-left:14px;border-left:1px solid #9ACE6C}
.drag_con > ul > li{padding-left:42px;background:url("../../img/content/drag2/bl.png") no-repeat 0 10px;margin-top: 10px;}
.drag_con > ul > li:first-child{margin-top: 0;}
.drag_con > ul > li > div,.drag_con > ul > li > p{display:inline-block;}
.drag_con > ul > li > div.num{vertical-align:top;color:#186793}
.dragin{display:inline-block;color:#fff;height:25px;vertical-align:middle;line-height:22px;text-align:center;border:1px solid #000;background-color:#fff;;}
.dragin.complete{border:1px solid rgba(0,0,0,0);text-indent:0;background:none;color:#666;}
.dragin_blind{position:absolute;top:120px;width:100%;height:340px;}