@charset "utf-8";
@font-face {
 font-family: 'Roboto';
 src: url(./font/Roboto.eot);
 src: url(./font/Roboto.eot?#iefix) format('embedded-opentype'),
      url(./font/Roboto.woff) format('woff'),
      url(./font/Roboto.ttf) format('truetype');
}
body{
	overflow: visible;
}

.gnbWrap{position: relative;overflow: visible;height: 100%;}
#menuBtn{
	position: absolute;
	width: 67px;
	height: 64px;
	top: 0px;
	left:220px;

}
#menuBtn button{
	display: block;
	width: 100%;
	height: 100%;
	background:url("../../img/menu/open_btn.png") 0 0 no-repeat;

}
#menuBtn .in{
	background:url("../../img/menu/close_btn.png") 0 0 no-repeat;
}
#menus{
	position: absolute;
	width: 288px;
	height: calc(100% - 65px);
	left: 0px;
	top:0px;
	display: none;
	background: url("../../img/menu/nav_bg.png") 0 0 ;
}
#menus>ul{
	background: url("../../img/menu/nav_btn_bg.png") 0 0 no-repeat;
	padding-top: 64px;
}
#menus button{
	display:block;
	width: 100%;
	height: 100%;
	color:#6acdce;
	padding-left: 10px;
	background: none;
	font-size: 14px;
	padding-left: 40px;
	border: 1px solid #52556e;
	font-family: 'Roboto';
}
#menus > ul > li{

	width: 100%;

}
#menus button:hover,
#menus button:hover span{color:#6acdce}

#menus > ul>li>button{
	color: #6acdce;
	font-size: 28px;
	line-height: 64px;
	text-align: left;
	width: 100%;
	height: 64px;
  background: url("../../img/menu/nav_btn_sub_bg.png") 0 0 no-repeat;

}

#menus > ul > li.on>button{
	color: #262a3d;
	background: #6acdce;

}



#menus > ul > li > ul>li{

}


#menus > ul > li > ul > li > button{
	text-align: left;
	line-height: 61px;
	font-size:24px;
	background: none;
	color: #c3ceff;
	height: 61px;
	width: 100%;

}
#menus > ul > li > ul > li > button:hover{
	color: #fff474;
}
#menus > ul > li > ul > li.on>button{
	color: #fff474;

  background: url("../../img/menu/nav_btn_bg.png") 0 0 no-repeat;
}
#menus > ul > li:nth-child(2) > ul > li{
}

#menus > ul > li > ul > li > button > span{
	margin-left: 15px;
	color: #fff;
}
.learning_wrap{
  display: block;
  width: 990px;
  height: 569px;
  margin-left: calc(50% - 990px / 2);
  margin-top: calc(25% - 542px / 2);
  background: url("../../img/road/roadmap.png") 0 0 no-repeat;
  position: relative;
}
.jungri_down{
  display: block;
  width: 170px;
  height: 48px;
  background: url("../../img/road/down_btn2.png") 0 0 no-repeat;
  position: absolute;
  bottom:20px;
  right:20px;
}
.learning_down{
  display: block;
  width: 140px;
  height: 48px;
  background: url("../../img/road/down_btn.png") 0 0 no-repeat;
  position: absolute;
  bottom:20px;
  right:198px;
}
.learning_close{
  display: block;
  width: 48px;
  height: 48px;
  background: url("../../img/road/close.png") 0 0 no-repeat;
  position: absolute;
  top:17px;
  right:13px;
}
