@charset "utf-8";

@font-face { font-family: 'Arita-buri-SemiBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face {
    font-family: 'Noto Sans';
    font-style: lighter;
    font-weight: 100;
    src: local('NotoSans-Thin'), local('NotoSans-Thin'), local('NotoSans-Thin');
    src: url('NotoSans-Thin.eot');
    src: url('NotoSans-Thin.eot?#iefix') format('embedded-opentype'),
    url('NotoSans-Thin.woff') format('woff'),
    url('NotoSans-Thin.otf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    src: local('NotoSans-Light'), local('NotoSans-Light'), local('NotoSans-Light');
    src: url('NotoSans-Light.eot');
    src: url('NotoSans-Light.eot?#iefix') format('embedded-opentype'),
    url('NotoSans-Light.woff') format('woff'),
    url('NotoSans-Light.otf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: bold;
    font-weight: 500;
    src: local('NotoSans-Regular'), local('NotoSans-Regular'), local('NotoSans-Regular');
    src: url('NotoSans-Regular.eot');
    src: url('NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('NotoSans-Regular.woff') format('woff'),
    url('NotoSans-Regular.otf') format('truetype');
}

/* reset css
*{
	-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;
	-webkit-transition:.3s ease-in-out;-moz-transition:.3s ease-in-out;-o-transition:.3s ease-in-out;transition:.3s ease-in-out;
	-moz-box-shadow:0px 2px 5px rgba(0,0,0,0.3);-webkit-box-shadow:0px 2px 5px rgba(0,0,0,0.3);box-shadow:0px 2px 5px rgba(0,0,0,0.3)
	letter-spacing:-0.5pt;
} */

/* 초기화 */
html,body{margin:0;padding:0;-ms-overflow-style:scrollbar}
body{font:14px/1.3 'Noto Sans','Malgun Gothic','돋움','Dotum','굴림','Gulim','arial','sans-serif';color:#212121;box-sizing:border-box}
body *{box-sizing:border-box}
h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,tbody,tfoot,thead,th,td,article,figure{margin:0;padding:0}
textarea,select,td,th,button{font:14px/1.3 'Noto Sans','Malgun Gothic','돋움','Dotum','굴림','Gulim','arial','sans-serif';color:#212121;vertical-align:middle;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
input {font:14px/1.3 'Noto Sans','Malgun Gothic','돋움','Dotum','굴림','Gulim','arial','sans-serif';color:#212121;vertical-align:middle;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
table{table-layout:fixed;width:100%;border-spacing:0;border-collapse:collapse;}
legend, caption, .sound_only, .skip{position:absolute;left:-5000px;top:0;overflow:hidden;line-height:0.1%;font-size:0.1%;width:0.1%;height:0.1%;}
caption{position:relative;}
img,fieldset{border:0 none;}
label,button{cursor:pointer;}
em,address{font-style:normal;}
a {color:#0a1615;}
a:link,a:visited{text-decoration:none;color: #0a1615;}
a:hover,a:active,a:focus{text-decoration:none;color: #0a1615;}
img{max-width:100%}

input[type=text],input[type=password],input[type=date],textarea,select{background-color:#fff;-webkit-border-radius:0;-webkit-appearance:none;}
input[type=text]::-webkit-input-placeholder{color:#b5b5b5}
input[type=text]:-moz-placeholder{color:#b5b5b5}
input[type=text]::-moz-placeholder{color:#b5b5b5}
input[type=text]:-ms-input-placeholder{color:#b5b5b5}
input[type=password]::-webkit-input-placeholder{color:#b5b5b5}
input[type=password]:-moz-placeholder{color:#b5b5b5}
input[type=password]::-moz-placeholder{color:#b5b5b5}
input[type=password]:-ms-input-placeholder{color:#b5b5b5}
input[type=date]::-webkit-input-placeholder{color:#b5b5b5}
input[type=date]:-moz-placeholder{color:#b5b5b5}
input[type=date]::-moz-placeholder{color:#b5b5b5}
input[type=date]:-ms-input-placeholder{color:#b5b5b5}
textarea::-webkit-input-placeholder{color:#b5b5b5}
textarea:-moz-placeholder{color:#b5b5b5}
textarea::-moz-placeholder{color:#b5b5b5}
textarea:-ms-input-placeholder{color:#b5b5b5}
select {-moz-appearance:none; -webkit-appearance:none; appearance:none;}
select::-ms-expand {display:none}

.respon{position:relative;width:1300px;margin:0 auto}

.nopm, .nopm > li, .nopm > dt, .nopm > dd{padding:0;margin:0;list-style:none;}
ul, ul > li, dl, dl > dt, dl > dd{padding:0;margin:0;list-style:none;}

.basic_radio{display:none;}
.basic_radio + label{color:#212121;font-weight:normal;}
.basic_radio + label span{display:inline-block;width:27px;height:27px;margin:-3px 5px 0 0;vertical-align:middle;background:url("../img/ico_radio.png") right top no-repeat;background-size:auto 100%;cursor:pointer;}
.basic_radio:checked + label span{background:url("../img/ico_radio.png") left top no-repeat;background-size:auto 100%;}

.basic_check{display:none;}
.basic_check + label{color:#959595;font-weight:normal;}
.basic_check + label span{display:inline-block;width:27px;height:27px;margin:-3px 5px 0 0;background:url("../img/ico_check.png") right center no-repeat;vertical-align:middle;cursor:pointer;}
.basic_check:checked + label span{background:url("../img/ico_check.png") left center no-repeat;background-size:inherit;}

input.basic_input{height:36px;line-height:34px;padding:0 10px;border:1px solid #ccc;}
input.basic_input:focus{border:1px solid #6ca3ff}
input.basic_input.readonly{background-color:#eee}
input.datepicker{max-width:200px;padding-right:40px;background:#fff url("../img/ico_inputdate.png") no-repeat center right}
select.basic_select::-ms-expand{display:none;}
select.basic_select{height:36px;padding:0 30px 0 10px;border:1px solid #e5e5e5;background:#fff url("../img/ico_select.png") no-repeat center right;background-size:20px auto;-webkit-appearance:none;-moz-appearance:none;}
select.basic_select:focus{border:1px solid #6ca3ff}
textarea.basic_textarea{padding:10px;border:1px solid #ccc;}

.mOnly{}
.pcOnly{display:none;}

.alignCenter{text-align:center !important}
.alignLeft{text-align:left !important}
.alignRight{text-align:right !important}

.floats{zoom:1}
.floats:after{content:'';display:block;clear:both}
.floats > li{float:left}
.floats > li.fr{float:right}

.embed-container {position:relative;padding-bottom:56.25%;height:0;overflow:hidden;}
.embed-container iframe,
.embed-container object,
.embed-container embed,
.embed-container video{position:absolute;top:0;left:0;width:100%;height:100%;}

/* 버튼 모음 */
	.btns{display:inline-block;height:36px;line-height:34px;padding:0 15px;border:1px solid #e5e5e5;background-color:#fafafa;text-align:center;color:#535353;vertical-align:middle;}
	.btns.h20px{height:20px;line-height:18px;padding:0 5px;font-size:12px;}
	.btns.h24px{height:24px;line-height:22px;padding:0 10px;font-size:13px;}
	.btns.h30px{height:30px;line-height:28px;}
	.btns.h50px{height:50px;line-height:48px;}
	.btns.h60px{height:60px;line-height:58px;font-size:16px}
	.btns.h70px{height:70px;line-height:68px;font-size:18px}
	.btns.round4px{border-radius:4px}

/* 햄버거 메뉴 */
	.c-hamburger{
			display:block;position:relative;overflow:hidden;margin:0;padding:0;width:50px;height:50px;font-size:0;text-indent:-9999px;
			appearance:none;box-shadow:none;border-radius:none;border:none;cursor:pointer;transition:background 0.3s;background-color:rgba(255,255,255,0)}
	.c-hamburger:focus{outline:none;}
	.c-hamburger span{display:block;position:absolute;top:25px;left:14px;right:14px;height:2px;background:#002e6e;}
	.c-hamburger span::before,
	.c-hamburger span::after{position:absolute;display:block;left:0;width:100%;height:2px;background-color:#002e6e;content:"";}
	.c-hamburger span::before{top:-8px;}
	.c-hamburger span::after{bottom:-8px;}
	.c-hamburger--htx {}
	.c-hamburger--htx span {transition:background 0s 0.3s;}
	.c-hamburger--htx span::before,
	.c-hamburger--htx span::after {transition-duration: 0.3s, 0.3s;transition-delay: 0.3s, 0s;}
	.c-hamburger--htx span::before {transition-property:top, transform;}
	.c-hamburger--htx span::after {transition-property:bottom, transform;}

	.open .c-hamburger--htx{}
	.open .c-hamburger--htx span{background:none;}
	.open .c-hamburger--htx span::before{top:0;transform:rotate(45deg);background-color:#002e6e}
	.open .c-hamburger--htx span::after{bottom:0;transform:rotate(-45deg);background-color:#002e6e}
	.open .c-hamburger--htx span::before,
	.open .c-hamburger--htx span::after{transition-delay:0s, 0.3s;}

/* 컬러 */
	/* 텍스트 컬러 */
		.colorWhite{color:#fff !important}
		.colorGray{color:#999 !important}
		.colorRed{color:#cc0000 !important}
		.colorBlue{color:#1445a0 !important}
		.colorStar{color:#ee792d !important}

	/* 배경 컬러 */
		.bgDarkGray{background-color:#333}
		.bgBlue{background-color:#1445a0}
		.bgGreen{background-color:#63b428}

/* 사이즈 */
	.pd4p{padding:4%}	
    .pdb30px {padding-bottom: 30px;}
	
	.w10{width:10%}
	.w20{width:20%}
	.w30{width:30%}
	.w40{width:40%}
	.w45{width:45%}
    .w49{width:49%}
	.w50{width:50%}
	.w55{width:55%}
	.w60{width:60%}
	.w70{width:70%}
	.w80{width:80%}
	.w90{width:90%}
	.w100{width:100%}

	.w100px{width:100px !important;}
    .w130px{width:130px !important;}
	.w150px{width:150px !important;}
	.w200px{width:200px !important;}
	.w250px{width:250px !important;}
	.w300px{width:300px !important;}
	.w350px{width:350px !important;}
	.w400px{width:400px !important;}
	.w450px{width:450px !important;}
	.w500px{width:500px !important;}
	.w550px{width:550px !important;}
	.w600px{width:600px !important;}
	.w650px{width:650px !important;}
	.w700px{width:700px !important;}
	.w750px{width:750px !important;}
	.w800px{width:800px !important;}
	.w850px{width:850px !important;}
	.w900px{width:900px !important;}
	.w950px{width:950px !important;}
	.w1000px{width:1000px !important;}

    .mgt0px{margin-top:0px !important;}
	.mgt5px{margin-top:5px !important;}
	.mgt10px{margin-top:10px !important;}
    .mgt15px{margin-top:15px !important;}
	.mgt20px{margin-top:20px !important;}
	.mgt30px{margin-top:30px !important;}
	.mgt40px{margin-top:40px !important;}
	.mgt50px{margin-top:50px !important;}
	.mgt60px{margin-top:60px !important;}
	.mgt70px{margin-top:70px !important;}
	.mgt80px{margin-top:80px !important;}
	.mgt90px{margin-top:90px !important;}
	.mgt100px{margin-top:100px !important;}

    .mgb0px{margin-bottom:0px !important;}
	.mgb5px{margin-bottom:5px !important;}
	.mgb10px{margin-bottom:10px !important;}
    .mgb15px{margin-bottom:15px !important;}
	.mgb20px{margin-bottom:20px !important;}
	.mgb30px{margin-bottom:30px !important;}
	.mgb40px{margin-bottom:40px !important;}
	.mgb50px{margin-bottom:50px !important;}
	.mgb60px{margin-bottom:60px !important;}
	.mgb70px{margin-bottom:70px !important;}
	.mgb80px{margin-bottom:80px !important;}
	.mgb90px{margin-bottom:90px !important;}
	.mgb100px{margin-bottom:100px !important;}
    
    .mgl5px{margin-left:5px !important;}
	.mgl10px{margin-left:10px !important;}
	.mgl20px{margin-left:20px !important;}
	.mgl30px{margin-left:30px !important;}
	.mgl40px{margin-left:40px !important;}
	.mgl50px{margin-left:50px !important;}
	.mgl60px{margin-left:60px !important;}
	.mgl70px{margin-left:70px !important;}
	.mgl80px{margin-left:80px !important;}
	.mgl90px{margin-left:90px !important;}
	.mgl100px{margin-left:100px !important;}
    
    .mgr5px{margin-right:5px !important;}
	.mgr10px{margin-right:10px !important;}
	.mgr20px{margin-right:20px !important;}
	.mgr30px{margin-right:30px !important;}
	.mgr40px{margin-right:40px !important;}
	.mgr50px{margin-right:50px !important;}
	.mgr60px{margin-right:60px !important;}
	.mgr70px{margin-right:70px !important;}
	.mgr80px{margin-right:80px !important;}
	.mgr90px{margin-right:90px !important;}
	.mgr100px{margin-right:100px !important;}


/* 폰트 사이즈 */
	.fsize12{font-size:12px !important;}
	.fsize13{font-size:13px !important;}
	.fsize14{font-size:14px !important;}
	.fsize16{font-size:16px !important;}
	.fsize18{font-size:18px !important;}
	.fsize20{font-size:20px !important;}
	.fsize22{font-size:22px !important;}
	.fsize24{font-size:24px !important;}
	.fsize26{font-size:26px !important;}
	.fsize28{font-size:28px !important;}
	.fsize30{font-size:30px !important;}

@media screen and (min-width:768px) {
}

@media screen and (min-width:1240px) {
}

@media screen and (min-width:1440px) {
}

@media screen and (min-width:1840px) {
}